.title-description-action-main {
    width: 45%;
    word-wrap: normal;
    margin-right: 50px;
    color: $secondary;

    h1 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }
}